<footer>
    <div class="container">

        <div class="row">

            <div class="col-3">
                <img src="/assets/logos/logo-light.png" class="img-fluid">
            </div>


            <div class="col-8">
                <ul class="social">
                    <!-- SOCIAL LINKS -->
                    <h2>
                        <!-- For some reason these are showing up in reverse order ... -->
                        <li><a href="http://linkedin.com/in/kolovsam"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="mailto:sam.kolovson@statrookie.com"><i class="fa fa-envelope"></i></a></li>
                        <!--li><a href="tel:000-000-0000"><i class="fa fa-phone"></i></a></li-->
                        <!-- <li><a href="http://github.com/kolovsam"><i class="fa fa-github"></i></a></li> -->
                        <li><a href="https://www.instagram.com/statrookie/"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="https://twitter.com/statrookie"><i class="fa fa-twitter"></i></a></li>

                    </h2>
                </ul>
            </div>


        </div>
    </div>


</footer>