{% comment %}
|\   |    /\  \      /
| \  |   /  \  \    /
|  \ |  /____\  \  /
|   \| /      \  \/
{% endcomment %}

<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><img src="/assets/logos/logo-light.png" width="125px"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto mb-2 mb-md-0 ">
                <li class="nav-item">
                    <a class="nav-link" href="/product/">PRODUCT</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="/about/">ABOUT</a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link" href="/team/">TEAM</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact/">CONTACT</a>
                </li>
            </ul>
            <form class="d-flex">
                <!-- <input class="form-control mr-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-secondary" type="submit">Search</button> -->
                <ul class="social">
                    <!-- SOCIAL LINKS -->
                    <h2>
                        <!-- <li><a href="http://linkedin.com/in/kolovsam"><i class="fa fa-linkedin"></i></a></li>-->
                        <li><a href="https://twitter.com/statrookie"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.instagram.com/statrookie/"><i class="fa fa-instagram"></i></a></li>
                        <li style="font-size:30px;"><a href="mailto:info@statrookie.com"><i class="fa fa-envelope" style="padding-top:4px;"></i></a></li> 

                    </h2>
                </ul>
            </form>
        </div>
    </div>
</nav>