/*
    Custom CSS

    StatRookie Grey = #4A4A45
    StatRookie Dark Grey 2 = #33312C
    StatRookie Yellow = #F0DD1A

*/

/* BODY */
body {
    /* pushes the start of the body below the fixed navbar */
    padding-top: 90px;

    /* overrides the bootstrap background and text color */
    /* background: #4A4A45 !important; */
    /* color:white !important; */

    font-family: Interstate !important;
    font-style: normal;
  }

/* NAV */
nav {
    background-color: #33312C;
    font-family: Interstate;
    font-weight: 700;
}

.nav-link{
    color: white !important;
    font-size: 16pt;
    
}

.nav-item{
    padding-right: 20px;
}

a {
    color: white !important;
}

a:hover{
    color: yellow !important;
}

/* FOOTER */
footer {
    background-color: #33312C;
    color: white;
    /* padding: 20px; */
    font-family: Interstate;
}

/* Class Container */
.container{
    padding-bottom: 50px;
    padding-top: 50px;
}

/* .row {
    padding-bottom:20px;
} */

#mission {
    background-color: #33312C;
    font-weight: 800;
    
}


ol, ul {    
    padding-left: 0 !important;
}


/* SOCIAL BUTTONS */
ul li a i {
    background: white;
    color: white;
    width: 40px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    margin-right: 10px;
    padding-top: 10%;
    border-radius: 5px;
   
   
    /* color of social buttons */
    background: #FFD000;
   }

.social {
    overflow: auto;
    width: 100%;

    padding-top: 15px;
    padding-bottom: 15px;

   }
   
.social li {
    list-style-type: none;
    float: left;
    font-size: 32px;
   
   }

   